$gallery: #f1f0ee;
$gainsboro: #dddcd7;
$locust: #a1ae90;
$deep-koamaru: #272d6b;
$liberty: #4257a6;
$black-haze: #f7f7f7;
$deep-koamaru-translucent: rgba(39, 45, 107, 0.356);
$pastel-red: #ff6666;

$gin-fizz: #fdf9e0;
$watusi: #ffddd2;
$maverick: #d5c2d5;
$fountain-blue: #5ea9bc;
$pale-cerulean: #9acdde;
$botticelli: #cbe1ef;
$zanah: #dae5d9;